[submodule "code/3rdparty/yyjson"]
	path = code/3rdparty/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "code/3rdparty/lvgl"]
	path = code/3rdparty/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "code/3rdparty/SDL"]
	path = code/3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "code/3rdparty/SDL_image"]
	path = code/3rdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
